@media all and (max-width: 670px){
    header {
        width: 100%;
        height: 150px;
        overflow: hidden;
        position: fixed;
        z-index: 9999;
    }
    
    header .header-container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    header .header-container .header-logo{
        width: 100%;
    }

    header .header-container .header-menu{
        width: 100%;
    }

    header .header-logo img{
        padding: 15px 0;
        width: 200px;
    }

    header .header-menu {
        display: flex;
        justify-content: space-around;
    }
    
    header .header-menu li{
        margin-right: 30px;
        margin-left: 30px;
        line-height: 70px;
        color: white;
    }

    .header-scrolled{
        transition: all ease-in-out 0.4s;
        width: 100%;
        height: 150px;
        overflow: hidden;
        position: fixed;
        z-index: 9999;
        background-color: #148b8d;
    }

    .main{
        padding-top: 150px;
        width: 90%;
        margin: auto;
    }
    
    .main .product_overview{
        display: flex;
        flex-direction: column;
    }
    
    .main .product_overview img{
        width: 90%;
        margin: auto;
    }

    .main .product_overview .product_name{
        width: 90%;
    }
    
    .main .product_overview .product_name #detail-name{
        color: #148b8d;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 20%;
    }
    
    .main .product_overview .product_name #detail-price{
        color: #148b8d;
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;
        display: inline-block;
    }
    
    .main .product_description h2{
        width: 90%;
        color: #148b8d;
        display: inline-block;
        border-bottom: 2px solid #ec8c04;
        padding-bottom: 10px;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .main .product_description p{
        width: 90%;
    }
    
    .main .product_description a{
        padding: 15px 20px;
        margin-top: 20px;
        background-color: #ab231b;
        border-radius: 20px;
        text-decoration: none;
        display: inline-block;
        color: white;
    }

    footer{
        width: 100%;
        background-color: #0f3c4c;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    footer .footer-container {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    
    footer .footer-container .footer{
        flex: auto;
    }
    
    footer .footer-container .footer img{
        width: 150px;
        margin-bottom: 10px;
        display: block;
        float: left;
    }

    footer .footer-container .footer i{
        margin-right: 5px;
        float: right;
    }
    
    footer .footer-container .footer li{
        margin-bottom: 15px;
        color: white;
        font-weight: normal;
    }

    footer .footer-container .footer-logo{
        margin-bottom: 20px;
    }

    footer .footer-container .footer li:not(.menu-head){
        text-indent: 25px;
    }
    
    footer .footer-container .footer .menu-head{
        color: #ec8c04;
    }
}