@media all and (max-width: 670px){
    header {
        width: 100%;
        height: 150px;
        overflow: hidden;
        position: fixed;
        z-index: 9999;
    }
    
    header .header-container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    header .header-container .header-logo{
        width: 100%;
    }

    header .header-container .header-menu{
        width: 100%;
    }

    header .header-logo img{
        padding: 15px 0;
        width: 200px;
    }

    header .header-menu {
        display: flex;
        justify-content: space-around;
    }
    
    header .header-menu li{
        margin-right: 30px;
        margin-left: 30px;
        line-height: 70px;
        color: white;
    }

    .header-scrolled{
        transition: all ease-in-out 0.4s;
        width: 100%;
        height: 150px;
        overflow: hidden;
        position: fixed;
        z-index: 9999;
        background-color: #148b8d;
    }

    .main-content .main-content-top {
        width: 100%;
        height: 400px;
        background-image: linear-gradient(0deg, #0f3c4c74, #0f3c4c74),url(aset/Coffe\ Header.png);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-size: cover;
        justify-content: center;
        align-content: center;
    }
    
    .main-content .main-content-top .main-content-top-container {
        width: 90%;
        margin: auto;
        color: white;
        align-content: center;
    }
    
    .main-content .main-content-top .main-content-top-container h1{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .main-content .main-content-top .main-content-top-container .second-title{
        margin-bottom: 20px;
    }
    
    .main-content .main-content-top .main-content-top-container h3{
        text-align: center;
        font-size: 10px;
        font-weight: normal;
    }
    
    .main-content .main-content-whoarewe{
        width: 100%;
        background-color: white;
    }
    
    .main-content .main-content-whoarewe .main-content-whoarewe-container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .main-content .main-content-whoarewe .main-content-whoarewe-container .side{
        padding-top: 30px;
        padding-bottom: 10px;
        width: 100%;
    }
    
    .main-content .main-content-whoarewe .main-content-whoarewe-container .side .image-frame{
        height: 250px;
        width: 70%;
        float: none;
        margin: auto;
        border-radius: 20px;
        overflow: hidden;
    }
    
    .main-content .main-content-whoarewe .main-content-whoarewe-container img{
        width: 100%;
        height: 100%;
    }
    
    .main-content .main-content-whoarewe .main-content-whoarewe-container .whoarewe-right h2{
        font-weight: bold;
        display: inline-block;
        font-size: 25px;
        border-bottom: 2px solid #ec8c04;
        color: #148b8d;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    .main-content .main-content-whoarewe .main-content-whoarewe-container .whoarewe-right p{
        width: 90%;
        font-size: 15px;
        line-height: 1.3;
    }

    .main-content .main-content-productshowcase{
        width: 100%;
        background-color: white;
    }
    
    .main-content .main-content-productshowcase .main-content-productshowcase-container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .main-content .main-content-productshowcase .main-content-productshowcase-container .side .image-frame{
        height: 250px;
        width: 70%;
        margin: auto;
        border-radius: 20px;
        float: none;
        overflow: hidden;
    }
    
    .main-content .main-content-productshowcase .main-content-productshowcase-container img{
        width: 100%;
        height: 100%;
    }
    
    .main-content .main-content-productshowcase .main-content-productshowcase-container .side{
        padding-top: 30px;
        padding-bottom: 10px;
        flex: auto;
        width: 100%;
    }
    
    .main-content .main-content-productshowcase .main-content-productshowcase-container .productshowcase-left {
        margin-right: 0px;

    }
    
    .main-content .main-content-productshowcase .main-content-productshowcase-container .productshowcase-left h2{
        font-weight: bold;
        font-size: 25px;
        border-bottom: 2px solid #ec8c04;
        color: #148b8d;
        padding-bottom: 10px;
        margin-bottom: 10px;
        float: left;
    }
    
    .main-content .main-content-productshowcase .main-content-productshowcase-container .productshowcase-left p{
        width: 90%;
        float: left;
        text-align: left;
        font-size: 15px;
        line-height: 1.3;
    }

    .main-content .main-content-hangoutwithus{
        width: 100%;
        background-color: white;
    }
    
    .main-content .main-content-hangoutwithus .main-content-hangoutwithus-container{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    .main-content .main-content-hangoutwithus .main-content-hangoutwithus-container .side .image-frame{
        height: 250px;
        width: 70%;
        margin: auto;
        border-radius: 20px;
        float: none;
        overflow: hidden;
    }
    
    .main-content .main-content-hangoutwithus .main-content-hangoutwithus-container img{
        width: 100%;
        height: 100%;
    }
    
    .main-content .main-content-hangoutwithus .main-content-hangoutwithus-container .side{
        padding-top: 30px;
        padding-bottom: 10px;
        margin-left: 0px;
        flex: auto;
        width: 100%;
    }
    
    .main-content .main-content-hangoutwithus .main-content-hangoutwithus-container .hangoutwithus-right h2{
        font-weight: bold;
        display: inline-block;
        font-size: 25px;
        border-bottom: 2px solid #ec8c04;
        color: #148b8d;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    
    .main-content .main-content-hangoutwithus .main-content-hangoutwithus-container .hangoutwithus-right p{
        width: 90%;
        font-size: 15px;
        line-height: 1.3;
    }
    
    .main-content .main-content-productshowcase .main-content-productshowcase-container a{
        float: right;
    }
    
    .main-content .main-content-hangoutwithus .main-content-hangoutwithus-container a,
    .main-content .main-content-productshowcase .main-content-productshowcase-container a{
        text-decoration: none;
        padding: 10px 50px;
        background-color: #ab231b;
        color: white;
        border-radius: 20px;
        margin-top: 30px;
        float: left;
    }

    .main-content .main-content-findout .main-content-findout-container{
        width: 90%;
        margin: auto;
    }
    
    .main-content .main-content-findout .main-content-findout-container h2{
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        color: #148b8d;
        margin: 50px 0 30px 0;
    }
    
    .main-content .main-content-findout .main-content-findout-container a{
        color: #ec8c04;
        text-decoration: none;
        border-bottom: 2px solid #ec8c04;
    }
    
    .main-content .main-content-findout .main-content-findout-container .gallery-coffee{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 30px;
    } 
    
    .main-content .main-content-findout .main-content-findout-container .gallery-coffee img{
        flex: auto;
        width: 15%;
    }

    .main-content .main-content-askusmore .main-content-askusmore-container {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    
    .main-content .main-content-askusmore .main-content-askusmore-container h2{
        font-weight: bold;
        font-size: 25px;
        color: #148b8d;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    .main-content .main-content-askusmore .main-content-askusmore-container p{
        font-size: 15px;
        width: 80%;
        margin: auto;
    }
    
    .main-content .main-content-askusmore .main-content-askusmore-container a{
        text-decoration: none;
        padding: 10px 50px;
        background-color: #ab231b;
        color: white;
        border-radius: 20px;
        display: inline-block;
        margin: 20px 0 50px 0;
    }

    footer{
        width: 100%;
        background-color: #0f3c4c;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    footer .footer-container {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    
    footer .footer-container .footer{
        flex: auto;
    }
    
    footer .footer-container .footer img{
        width: 150px;
        margin-bottom: 10px;
        display: block;
        float: left;
    }

    footer .footer-container .footer i{
        margin-right: 5px;
        float: right;
    }
    
    footer .footer-container .footer li{
        margin-bottom: 15px;
        color: white;
        font-weight: normal;
    }

    footer .footer-container .footer-logo{
        margin-bottom: 20px;
    }

    footer .footer-container .footer li:not(.menu-head){
        text-indent: 25px;
    }
    
    footer .footer-container .footer .menu-head{
        color: #ec8c04;
    }
}